@page "/unlocks"
@inherits CustomBaseComponent
@inject IState<Flux.Sales.State> _saleState
@inject NavigationManager _navigation
@inject IScrollManager _scrollManager
<PageTitle>Avalaunch Unlocks</PageTitle>
<MudTimeline>
    @foreach (var item in MonthlyData)
    {
    <MudTimelineItem Color="GetColor(item.Key)" Elevation="25">
        <ItemOpposite>            
                    <MudText Color="GetColor(item.Key)" Typo="Typo.h6">
                    <div id="@item.Key.ToString("MMMMyyyy")">                
            @item.Key.ToString("MMMM yyyy")
                </div>
            </MudText>
            <MudText Color="Color.Dark" Typo="Typo.caption">
                @GetSubTitle(item.Key)
            </MudText>

        </ItemOpposite>
        <ItemContent>
    <MudPaper Elevation="0" Class="mt-n1">
        <table style="width:100%">                        
        @foreach (var subItem in item.Value)
        {
            <tr>
                <td>@subItem.Date.ToString("g")</td>
                <td>@subItem.TokenSymbol</td>
                <td>@subItem.ItemIndex / @subItem.TotalCount</td>
                <td style="text-aligh:right;">@subItem.Percent.ToString("P2")</td>
            </tr>
        }      
        </table>          
            </MudPaper>
        </ItemContent>
    </MudTimelineItem>
    }
</MudTimeline>